<h1>BlogY: Home</h1>

<div class="posts">
    <!-- A single blog post -->
    <section class="post">
        <header class="post-header">
            <img class="post-avatar" alt="Tilo Mitra&#x27;s avatar" height="48" width="48" src="img/common/tilo-avatar.png">

            <h2 class="post-title">Introducing Pure</h2>

            <p class="post-meta">
                By <a href="#" class="post-author">Tilo Mitra</a> under <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a>
            </p>
        </header>

        <div class="post-description">
            <p>
                Yesterday at CSSConf, we launched Pure – a new CSS library. Phew! Here are the <a href="https://speakerdeck.com/tilomitra/pure-bliss">slides from the presentation</a>. Although it looks pretty minimalist, we’ve been working
                on Pure for several months. After many iterations, we have released Pure as a set of small, responsive, CSS modules that you can use in every web project.
            </p>
        </div>
    </section>
</div>
